body {
    height: fit-content !important;
}

.banner {
    &_link {
        display: block;
        width: 100%;
        padding-bottom: 30%;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_slider {
        .swiper-button-next, .swiper-button-prev {
            &::after {
                display: none;
            }
        }
        .swiper-button-prev {
            left: 0;
        }
        .swiper-button-next {
            right: 0;
        }
    }
    @media screen and (max-width: 767px) {
        &_link {
            padding-bottom: 60%;
        }
    }
}

.title {
    margin-bottom: 35px;
    img {
        width: 175px;
        display: block;
        margin: 0 auto 8px;
    }
    h2 {
        font-size: 16px;
        font-family: $CenturyGothic;
        text-align: center;
        margin: 0;
        color: $second-blue;
        letter-spacing: 0;
    }
    @media screen and (max-width: 450px) {
        img {
            width: 130px;
        }
    }
}

.home-about {
    padding: 55px 0 90px;
    p {
        margin: 0 0 50px;
    }
    &_noodle {
        display: block;
        width: 140px;
        margin: 0 auto;
    }
}

.recc {
    background-color: $main-gray;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
    // height: 750px;
    width: 100%;
    .smoke {
        position: absolute;
        pointer-events: none;
        // filter: blur(5px);
        transform-origin: 50% 50%;
        &-1 {
            bottom: -14.64vw;
            right: -12.86vw;
            width: 90vw;
        }
        &-2 {
            top: -13.6vw;
            left: -16.4vw;
            width: 75vw;
            // animation: smoke2 5s linear infinite;
        }
        &-3 {
            top: -8.6vw;
            left: 22.6vw;
            width: 45vw;
            // transform: rotate(30deg);
            // animation: smoke3 7s linear infinite;
        }
        &-4 {
            top: 4vw;
            left: -8vw;
            width: 52vw;
            // animation: smoke1 7s linear infinite;
            // animation: smoke4 3s linear infinite;
        }
        &-5 {
            top: -9vw;
            left: -4vw;
            width: 40vw;
        }
        &-6 {
            top: 9vw;
            left: -10vw;
            width: 53vw;
        }
        &-7 {
            top: -12vw;
            left: 54vw;
            width: 52vw;
        }
    }
    &_slider {
        width: 176vw;
        height: 176vw;
        // position: relative;
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        ul {
            position: absolute;
            top: 0;
            // left: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            // transform: translateX(-50%);
            // background-color: rgb(255, 219, 219);
            li {
                position: absolute;
                width: 11.46vw;
                height: 11.46vw;
                left: 0;
                transform-origin: 88vw;
                // transform: rotateZ(calc(70deg / 6 * var(--li-no) + 55deg));
                transition: $transition-common;
                &.active {
                    width: 20vw;
                    height: 20vw;
                    // transform: rotateZ(calc(70deg / 6 * var(--li-no) + 55deg));
                    >a {
                        transform: translateX(-5vw);
                    }
                }
                &.last {
                    opacity: 0;
                }
                >a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    // pointer-events: none;
                }
                img {
                    width: 100%;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    object-fit: contain;
                    pointer-events: none;
                    transition: $transition-common;
                    // transform: rotateZ(calc(70deg / 6 * var(--img-no) - 55deg));
                }
                .mark {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-weight: 600;
                    font-size: 18px;
                    background-color: $main-blue;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
        &-box {
            // overflow: hidden;
            width: 176vw;
            height: 100%;
            // height: 75vw;
            margin: 0 auto;
            padding-top: 10vw;
        }
    }
    &_inner {
        position: relative;
        width: 100%;
        height: 35vw;
    }
    &_intro {
        &_item {
            position: absolute;
            // bottom: 20%;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            transition: $transition-common;
            opacity: 0;
            width: 50%;
            p {
                text-align: center;
                margin: 0;
            }
            &.active {
                opacity: 1;
            }
        }
        &_title {
            border: 3px solid $third-blue;
            padding: 3px;
            width: fit-content;
            margin: 0 auto 20px;
            h3 {
                font-size: 22px;
                color: $main-blue;
                margin: 0;
                border: 2px solid $third-blue;
                background-color: $white;
                padding: 8px 50px 10px;
                font-family: $notosansTC;
                font-weight: normal;
            }
        }
        
    }
    .flavor {
        width: 6.5vw;
        position: absolute;
        left: 52.5vw;
        top: -0.5vw;
    }
    .slider-arrow {
        top: 67%;
        // transform: translateY(-50%);
        position: absolute;
        &-prev {
            left: 0;
        }
        &-next {
            right: 0;
        }
    }
    @media screen and (max-width: 1100px) {
        &_intro {
            &_item {
                top: 56%;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_inner {
            height: 50vw;
        }
        &_intro {
            &_item {
                top: 55%;
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .flavor {
            width: 90px;
            left: 53%;
            top: -1.5vw;
        }
        &_slider {
            ul {
                li {
                    width: 18vw;
                    height: 18vw;
                    &.active {
                        width: 27vw;
                        height: 27vw;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_inner {
            height: 55vw;
        }
        &_intro {
            &_item {
                top: 50%;
            }
        }
        .flavor {
            width: 90px;
            left: 52.5%;
            top: -3.5vw;
        }
    }
    @media screen and (max-width: 575px) {
        &_inner {
            height: 90vw;
        }
        &_slider {
            ul {
                li {
                    width: 40vw;
                    height: 40vw;
                    &.active {
                        width: 60vw;
                        height: 60vw;
                    }
                }
            }
        }
        &_intro {
            &_item {
                top: 65%;
            }
            &_title {
                h3 {
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 18px;
                }
            }
        }
        .flavor {
            left: 58.5%;
            top: -1.5vw;
        }
    }
    @media screen and (max-width: 500px) {
        &_inner {
            height: 100vw;
        }
        &_intro {
            &_item {
                top: 60%;
            }
        }
        .flavor {
            left: 57.5%;
            top: -4.5vw;
        }
    }
    @media screen and (max-width: 400px) {
        &_inner {
            height: 106vw;
        }
        &_intro {
            &_item {
                top: 56%;
            }
        }
    }
    @media screen and (max-width: 375px) {
        &_inner {
            height: 115vw;
        }
        &_intro {
            &_item {
                top: 51%;
            }
        }
        .flavor {
            left: 56.5%;
            top: -9.5vw;
        }
    }
}


@keyframes smoke1 {
    0% {
        filter: blur(0px);
        transform: translateX(0px);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateX(-10px);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateX(-20px);
        opacity: 1;
    }
    75% {
        filter: blur(5px);
        transform: translateX(-30px);
        opacity: 0.5;
    }
    100% {
        filter: blur(7px);
        transform: translateX(-40px);
        opacity: 0;
    }
}

@keyframes smoke2 {
    0% {
        filter: blur(0px);
        transform: translateX(-20px);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateX(-30px);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateX(-50px);
        opacity: 1;
    }
    75% {
        filter: blur(5px);
        transform: translateX(-50px);
        opacity: 0.5;
    }
    100% {
        filter: blur(7px);
        transform: translateX(-60px);
        opacity: 0;
    }
}

@keyframes smoke3 {
    0% {
        filter: blur(0px);
        transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateX(-50px);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateX(-70px);
        opacity: 1;
    }
    75% {
        filter: blur(5px);
        transform: translateX(-90px);
        opacity: 0.5;
    }
    100% {
        filter: blur(7px);
        transform: translateX(-110px);
        opacity: 0;
    }
}

@keyframes smoke4 {
    0% {
        filter: blur(0px);
        transform: translateX(30px) translateY(-10px);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateX(50px) translateY(-20px);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateX(70px) translateY(-30px);
        opacity: 1;
    }
    75% {
        filter: blur(5px);
        transform: translateX(90px) translateY(-40px);
        opacity: 0.5;
    }
    100% {
        filter: blur(7px);
        transform: translateX(110px) translateY(-50px);
        opacity: 0;
    }
}


.news {
    padding: 75px 0;
    &_item {
        display: block;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        &_pic {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_title {
            padding: 20px 20px 40px;
            background-color: rgba(0,0,0,0.66);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            h3 {
                font-family: $notosansTC;
                color: $white;
                font-size: 26px;
                margin: 0;
                text-align: center;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }
        .date {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            padding: 10px 25px;
            border: 1px solid $white;
            border-radius: 5px;
            background-color: $second-blue;
            margin: 0;
            font-size: 14px;
            color: $white;
            letter-spacing: 0.05em;
        }
    }
    &_slider {
        padding-bottom: 65px;
        .swiper-pagination {
            bottom: 0;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: transparent;
                border: 1px solid $main-blue;
                opacity: 1;
                &-active {
                    background-color: $main-blue;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_item {
            &_title {
                h3 {
                    font-size: 22px;
                }
            }
        }
    }
}

.more {
    display: block;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: $second-blue;
    border: 1px solid $second-blue;
    color: $white;
    font-size: 18px;
    margin: 16px auto 0;
    &:hover {
        color: $second-blue;
        background-color: transparent;
    }
}