@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Century Gothic";
  src: url(../font/CenturyGothic.woff) format("woff"), url(../font/CenturyGothic.otf) format("opentype");
}

body {
  color: #122C52;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-family: "微軟正黑體";
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #122C52;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #122C52;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button, input, select, textarea {
  outline: none;
  border: 0;
  padding: 0 5px;
}

textarea {
  padding: 5px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  height: 120px;
  z-index: 5;
}

.header .container {
  height: 100%;
}

.header_logo_box {
  position: absolute;
  width: 400px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
}

.header_logo_pic {
  position: absolute;
  top: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(400px * 0.725);
}

.header_logo_mask {
  position: absolute;
  width: 430px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_nav {
  height: 100%;
}

.header_nav ul {
  height: 100%;
}

.header_nav ul li {
  margin: 0 35px;
}

.header_nav_space {
  width: 400px;
  margin: 0 15px !important;
}

.header_menu {
  width: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu img {
  width: 100%;
}

.header_menu.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header_mask {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: rgba(0, 0, 0, 0.6);
  top: 70px;
  left: 0;
  display: none;
}

@media screen and (max-width: 1199px) {
  .header_nav ul li {
    margin: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .header {
    height: 70px;
  }
  .header_logo {
    position: relative;
    height: 100%;
    width: 130px;
  }
  .header_logo_box {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header_logo_pic {
    width: 130px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header_nav {
    position: fixed;
    top: 70px;
    width: 100vw;
    left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 1;
    background-color: #fff;
    border-top: 1px solid #DCDDDD;
    padding: 60px 0;
    display: none;
  }
  .header_nav ul li {
    margin: 0;
  }
  .header_nav ul li:not(:last-child) {
    border-right: 1px solid #DCDDDD;
  }
  .header_nav a {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    display: block;
    padding: 0 15px 25px;
  }
  .header_nav_space {
    display: none;
  }
}

main {
  padding-top: 120px;
}

@media screen and (max-width: 991px) {
  main {
    padding-top: 70px;
  }
}

.slider-arrow {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.slider-arrow img {
  width: 33%;
}

@media screen and (max-width: 450px) {
  .slider-arrow {
    width: 35px;
    height: 35px;
  }
}

.footer {
  background-color: #DCDDDD;
  padding: 60px 0 160px;
}

.footer_logo {
  width: 160px;
  margin-right: 65px;
  display: block;
}

.footer_logo img {
  width: 100%;
}

.footer_list {
  margin-right: 37px;
}

.footer_nav li {
  margin-bottom: 20px;
}

.footer_nav li a {
  font-family: "Noto Sans TC", sans-serif;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_social li {
  margin-right: 8px;
}

.footer_social li a {
  display: block;
  width: 40px;
  height: 40px;
}

.footer_social li a img {
  width: 100%;
}

.footer_inform {
  padding: 17px 32px;
  border-radius: 15px;
  background-color: #fff;
}

.footer_inform_brand {
  max-width: 260px;
  width: 100%;
  display: block;
  margin-bottom: 16px;
}

.footer_inform ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_inform ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer_inform ul li img {
  width: 15px;
}

.footer_inform ul li span {
  width: calc(100% - 15px);
  padding-left: 6px;
  margin: 0;
  font-size: 13px;
  font-family: "Noto Sans TC", sans-serif;
  color: #727171;
}

@media screen and (max-width: 991px) {
  .footer_inform {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .footer .container {
    display: block !important;
  }
  .footer_logo {
    margin-bottom: 40px;
  }
}

.btn-top {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #122C52;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn-top_pic {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.btn-top_pic img {
  width: 63%;
}

.fixed-btn {
  position: fixed;
  right: 40px;
  top: 250px;
  z-index: 5;
}

.fixed-btn a {
  position: relative;
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-btn a:not(:last-child) {
  margin-bottom: 20px;
}

.fixed-btn a span {
  z-index: 1;
  background-color: #DCDDDD;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 1px solid #132C53;
  letter-spacing: 0.1em;
  color: #122C52;
}

.fixed-btn a.btn-order img {
  position: absolute;
  width: 123px;
  right: 70%;
  bottom: 14%;
  z-index: 0;
}

@media screen and (max-width: 575px) {
  .fixed-btn {
    right: 20px;
  }
  .fixed-btn a {
    width: 55px;
    height: 55px;
  }
  .fixed-btn a.btn-order img {
    width: 90px;
  }
}

.banner-page {
  width: 100%;
  padding-bottom: 30%;
  position: relative;
}

.banner-page img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .banner-page {
    padding-bottom: 60%;
  }
}

body {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.banner_link {
  display: block;
  width: 100%;
  padding-bottom: 30%;
  position: relative;
}

.banner_link img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner_slider .swiper-button-next::after, .banner_slider .swiper-button-prev::after {
  display: none;
}

.banner_slider .swiper-button-prev {
  left: 0;
}

.banner_slider .swiper-button-next {
  right: 0;
}

@media screen and (max-width: 767px) {
  .banner_link {
    padding-bottom: 60%;
  }
}

.title {
  margin-bottom: 35px;
}

.title img {
  width: 175px;
  display: block;
  margin: 0 auto 8px;
}

.title h2 {
  font-size: 16px;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  margin: 0;
  color: #132C53;
  letter-spacing: 0;
}

@media screen and (max-width: 450px) {
  .title img {
    width: 130px;
  }
}

.home-about {
  padding: 55px 0 90px;
}

.home-about p {
  margin: 0 0 50px;
}

.home-about_noodle {
  display: block;
  width: 140px;
  margin: 0 auto;
}

.recc {
  background-color: #DCDDDD;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.recc .smoke {
  position: absolute;
  pointer-events: none;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.recc .smoke-1 {
  bottom: -14.64vw;
  right: -12.86vw;
  width: 90vw;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(104px, -52px);
          transform: translate(104px, -52px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .recc .smoke-1 {
    bottom: -8.64vw;
    right: -37.86vw;
    width: 120vw;
  }
}

@media screen and (max-width: 575px) {
  .recc .smoke-1 {
    bottom: -28.64vw;
    right: -67.86vw;
    width: 200vw;
  }
}

.recc .smoke-2 {
  top: -13.6vw;
  left: -16.4vw;
  width: 75vw;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(104px, -52px);
          transform: translate(104px, -52px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .recc .smoke-2 {
    top: -16.6vw;
    left: -32.4vw;
    width: 120vw;
  }
}

@media screen and (max-width: 767px) {
  .recc .smoke-2 {
    top: 5.4vw;
    left: -43.4vw;
  }
}

.recc .smoke-3 {
  top: -8.6vw;
  left: 22.6vw;
  width: 45vw;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  -webkit-transform: translate(0, -52px);
          transform: translate(0, -52px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .recc .smoke-3 {
    top: -2.6vw;
    left: 11.6vw;
    width: 65vw;
  }
}

@media screen and (max-width: 575px) {
  .recc .smoke-3 {
    top: 17.4vw;
  }
}

.recc .smoke-4 {
  top: 4vw;
  left: -8vw;
  width: 52vw;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(-104px, -52px);
          transform: translate(-104px, -52px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .recc .smoke-4 {
    top: 45vw;
    left: -30vw;
    width: 100vw;
  }
}

.recc .smoke-5 {
  top: -9vw;
  left: -4vw;
  width: 40vw;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(104px, -52px);
          transform: translate(104px, -52px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .recc .smoke-5 {
    top: -27vw;
    left: -22vw;
    width: 60vw;
  }
}

@media screen and (max-width: 575px) {
  .recc .smoke-5 {
    top: -58vw;
    left: -63vw;
    width: 120vw;
  }
}

.recc .smoke-6 {
  top: 9vw;
  left: -10vw;
  width: 53vw;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate(104px, -52px);
          transform: translate(104px, -52px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .recc .smoke-6 {
    top: -4vw;
    left: -30vw;
    width: 93vw;
  }
}

@media screen and (max-width: 575px) {
  .recc .smoke-6 {
    top: 0;
  }
}

.recc .smoke-7 {
  top: -12vw;
  left: 54vw;
  width: 52vw;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  -webkit-transform: translate(-104px, -52px);
          transform: translate(-104px, -52px);
  opacity: 0;
}

.recc .smoke.active {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.recc_slider {
  width: 176vw;
  height: 176vw;
  position: absolute;
  top: 6vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
}

.recc_slider ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recc_slider ul li {
  position: absolute;
  width: 11.46vw;
  height: 11.46vw;
  left: 0;
  -webkit-transform-origin: 88vw;
          transform-origin: 88vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recc_slider ul li.active {
  width: 20vw;
  height: 20vw;
}

.recc_slider ul li.active > a, .recc_slider ul li.active > div {
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw);
}

.recc_slider ul li.opa-0 {
  opacity: 0;
}

.recc_slider ul li > a, .recc_slider ul li > div {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.recc_slider ul li img {
  width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recc_slider-box {
  width: 176vw;
  height: 100%;
  margin: 0 auto;
  padding-top: 10vw;
}

.recc_inner {
  position: relative;
  width: 100%;
  height: 35vw;
}

.recc_intro_item {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  width: 50%;
}

.recc_intro_item p {
  text-align: center;
  margin: 0;
}

.recc_intro_item.active {
  opacity: 1;
}

.recc_intro_title {
  border: 3px solid #0E2C50;
  padding: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}

.recc_intro_title h3 {
  font-size: 22px;
  color: #122C52;
  margin: 0;
  border: 2px solid #0E2C50;
  background-color: #fff;
  padding: 8px 50px 10px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
}

.recc .flavor {
  width: 6.5vw;
  position: absolute;
  left: 52.5vw;
  top: -0.5vw;
}

.recc .slider-arrow {
  top: 67%;
  position: absolute;
}

.recc .slider-arrow-prev {
  left: 0;
}

.recc .slider-arrow-next {
  right: 0;
}

@media screen and (max-width: 1100px) {
  .recc_intro_item {
    top: 56%;
  }
}

@media screen and (max-width: 991px) {
  .recc_inner {
    height: 50vw;
  }
  .recc_intro_item {
    top: 55%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .recc .flavor {
    width: 90px;
    left: 53%;
    top: -1.5vw;
  }
  .recc_slider ul li {
    width: 18vw;
    height: 18vw;
  }
  .recc_slider ul li.active {
    width: 27vw;
    height: 27vw;
  }
}

@media screen and (max-width: 767px) {
  .recc_inner {
    height: 55vw;
  }
  .recc_intro_item {
    top: 50%;
  }
  .recc .flavor {
    width: 90px;
    left: 52.5%;
    top: -3.5vw;
  }
}

@media screen and (max-width: 575px) {
  .recc_inner {
    height: 90vw;
  }
  .recc_slider ul li {
    width: 40vw;
    height: 40vw;
  }
  .recc_slider ul li.active {
    width: 60vw;
    height: 60vw;
  }
  .recc_intro_item {
    top: 65%;
  }
  .recc_intro_title h3 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
  }
  .recc .flavor {
    left: 58.5%;
    top: -1.5vw;
  }
}

@media screen and (max-width: 500px) {
  .recc_inner {
    height: 100vw;
  }
  .recc_intro_item {
    top: 60%;
  }
  .recc .flavor {
    left: 57.5%;
    top: -4.5vw;
  }
}

@media screen and (max-width: 400px) {
  .recc_inner {
    height: 106vw;
  }
  .recc_intro_item {
    top: 56%;
  }
}

@media screen and (max-width: 375px) {
  .recc_inner {
    height: 115vw;
  }
  .recc_intro_item {
    top: 51%;
  }
  .recc .flavor {
    left: 56.5%;
    top: -9.5vw;
  }
}

@-webkit-keyframes smoke1 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
}

@keyframes smoke1 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
}

@-webkit-keyframes smoke2 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    opacity: 0;
  }
}

@-webkit-keyframes smoke3 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
    opacity: 0;
  }
}

@-webkit-keyframes smoke4 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(30px) translateY(-10px);
            transform: translateX(30px) translateY(-10px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(50px) translateY(-20px);
            transform: translateX(50px) translateY(-20px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(70px) translateY(-30px);
            transform: translateX(70px) translateY(-30px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(90px) translateY(-40px);
            transform: translateX(90px) translateY(-40px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(110px) translateY(-50px);
            transform: translateX(110px) translateY(-50px);
    opacity: 0;
  }
}

@keyframes smoke4 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translateX(30px) translateY(-10px);
            transform: translateX(30px) translateY(-10px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translateX(50px) translateY(-20px);
            transform: translateX(50px) translateY(-20px);
    opacity: 0.5;
  }
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(70px) translateY(-30px);
            transform: translateX(70px) translateY(-30px);
    opacity: 1;
  }
  75% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateX(90px) translateY(-40px);
            transform: translateX(90px) translateY(-40px);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-transform: translateX(110px) translateY(-50px);
            transform: translateX(110px) translateY(-50px);
    opacity: 0;
  }
}

.news {
  padding: 75px 0;
}

.news_item {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.news_item_pic {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.news_item_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.news_item_title {
  padding: 20px 20px 40px;
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.news_item_title h3 {
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  font-size: 26px;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.news_item .date {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #132C53;
  margin: 0;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.05em;
}

.news_slider {
  padding-bottom: 65px;
}

.news_slider .swiper-pagination {
  bottom: 0;
}

.news_slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #122C52;
  opacity: 1;
}

.news_slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #122C52;
}

@media screen and (max-width: 767px) {
  .news_item_title h3 {
    font-size: 22px;
  }
}

.more {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #132C53;
  border: 1px solid #132C53;
  color: #fff;
  font-size: 18px;
  margin: 16px auto 0;
}

.more:hover {
  color: #132C53;
  background-color: transparent;
}

.join_title {
  margin-bottom: 37px;
}

.join_title img {
  width: 100%;
  display: block;
  margin: 0 auto 34px;
}

.join_title h2 {
  text-align: center;
  color: #0F2C51;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 575px) {
  .join_title {
    margin-bottom: 20px;
  }
  .join_title img {
    margin-bottom: 20px;
  }
  .join_title h2 {
    font-size: 30px;
  }
}

.join_video {
  margin-top: 67px;
  margin-bottom: 149px;
}

.join_video_title img {
  max-width: 486px;
}

.join_video_main {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto 65px;
}

.join_video_main .inner {
  width: 100%;
  padding-bottom: 59%;
  position: relative;
}

.join_video_main .inner iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.join_video_link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.join_video_link a {
  width: 558px;
  height: 92px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto;
  background-color: #C30D23;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.join_video_link a:hover {
  background-color: #122C52;
}

.join_video_link img {
  position: absolute;
  width: 128px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -140px;
}

@media screen and (max-width: 991px) {
  .join_video_link a {
    width: auto;
    height: auto;
    font-size: 30px;
    padding: 15px 60px;
  }
}

@media screen and (max-width: 767px) {
  .join_video {
    margin-bottom: 75px;
  }
  .join_video_link a {
    font-size: 26px;
    padding: 15px 50px;
  }
  .join_video_link img {
    width: 100px;
    left: -120px;
  }
}

@media screen and (max-width: 575px) {
  .join_video_main {
    margin-bottom: 32px;
  }
  .join_video_link a {
    font-size: 22px;
    padding: 15px 30px;
  }
  .join_video_link img {
    width: 80px;
    -webkit-transform: none;
            transform: none;
    display: block;
    margin: 0 auto 15px;
    position: static;
  }
}

.join_class {
  margin-bottom: 123px;
}

.join_class .container {
  max-width: 1010px;
}

.join_class_title img {
  max-width: 231px;
}

.join_class_intro {
  border-radius: 8px;
  padding: 24px;
  background-color: rgba(243, 152, 0, 0.3);
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.join_class_intro * {
  margin: 0;
  padding: 0;
}

.join_class_qa {
  margin-bottom: 80px;
}

.join_class_qa .row {
  margin-left: -21px;
  margin-right: -21px;
}

.join_class_qa .row > div {
  padding-left: 21px;
  padding-right: 21px;
  margin-bottom: 54px;
}

.join_class_qa .row > div:nth-child(6n+1) .join_class_qa_item {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #FCEBD2), to(#FCEBD2));
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #FCEBD2 50%, #FCEBD2 100%);
}

.join_class_qa .row > div:nth-child(6n+1) .join_class_qa_bg {
  background-color: #FCEBD2;
}

.join_class_qa .row > div:nth-child(6n+2) .join_class_qa_item {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #F6D0D5), to(#F6D0D5));
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #F6D0D5 50%, #F6D0D5 100%);
}

.join_class_qa .row > div:nth-child(6n+2) .join_class_qa_bg {
  background-color: #F6D0D5;
}

.join_class_qa .row > div:nth-child(6n+3) .join_class_qa_item {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #D0E3F5), to(#D0E3F5));
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #D0E3F5 50%, #D0E3F5 100%);
}

.join_class_qa .row > div:nth-child(6n+3) .join_class_qa_bg {
  background-color: #D0E3F5;
}

.join_class_qa .row > div:nth-child(6n+4) .join_class_qa_item {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #E9D7E9), to(#E9D7E9));
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #E9D7E9 50%, #E9D7E9 100%);
}

.join_class_qa .row > div:nth-child(6n+4) .join_class_qa_bg {
  background-color: #E9D7E9;
}

.join_class_qa .row > div:nth-child(6n+5) .join_class_qa_item {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #E9F2D0), to(#E9F2D0));
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #E9F2D0 50%, #E9F2D0 100%);
}

.join_class_qa .row > div:nth-child(6n+5) .join_class_qa_bg {
  background-color: #E9F2D0;
}

.join_class_qa .row > div:nth-child(6n) .join_class_qa_item {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #FDF5D5), to(#FDF5D5));
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #FDF5D5 50%, #FDF5D5 100%);
}

.join_class_qa .row > div:nth-child(6n) .join_class_qa_bg {
  background-color: #FDF5D5;
}

.join_class_qa_item {
  height: 100%;
  background-color: #dbdbdb;
  border-radius: 8px;
}

.join_class_qa_title {
  padding: 10px 10px 10px 27px;
  border-radius: 8px;
  position: relative;
}

.join_class_qa_title h3 {
  font-size: 17px;
  margin: 0;
  font-weight: normal;
  color: #231815;
  font-weight: 500;
}

.join_class_qa_num {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid #fff;
  font-size: 39px;
  color: #102B50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial Narrow";
  font-weight: bold;
  font-style: italic;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.join_class_qa_content {
  padding-top: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #fff), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}

.join_class_qa_content .inner {
  padding: 15px 20px;
  border-radius: 8px;
}

.join_class_qa_content p {
  margin: 0;
  color: #231815;
  font-size: 17px;
}

.join_class_form {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
}

.join_class_form_title {
  text-align: center;
  border-radius: 15px 15px 0 0;
  background-color: #0F2C51;
  color: #fff;
  padding: 32px 15px;
}

.join_class_form_title h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.join_class_form_intro {
  font-size: 18px;
  font-weight: 600;
}

.join_class_form_content {
  padding: 84px 95px;
  border-radius: 0 0 20px 20px;
  border: solid #BACBD7;
  border-width: 0 5px 5px 5px;
}

.join_class_form_content button {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  width: 295px;
  height: 55px;
  border-radius: 8px;
  background-color: #C30D23;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
}

.join_class_form_content button:hover {
  background-color: #122C52;
}

.join_class_form_left {
  width: 46%;
  padding-right: 20px;
}

.join_class_form_right {
  width: 54%;
  padding-left: 20px;
}

.join_class_form_full {
  width: 100%;
}

.join_class_form_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
  position: relative;
}

.join_class_form_item label {
  font-size: 18px;
  color: #102B50;
  font-weight: 600;
}

.join_class_form_item input {
  height: 24px;
  border-radius: 8px;
  border: 1px solid #0F2C51;
}

.join_class_form_item textarea {
  border-radius: 8px;
  border: 1px solid #0F2C51;
}

.join_class_form_item.name label {
  width: 45px;
}

.join_class_form_item.name input {
  width: calc(100% - 85px);
}

.join_class_form_item.gender {
  padding-right: 60px;
}

.join_class_form_item.gender label, .join_class_form_item.age label {
  width: 50px;
}

.join_class_form_item.gender .join_class_form_check, .join_class_form_item.age .join_class_form_check {
  width: calc(100% - 50px);
}

.join_class_form_item.cellphone label {
  width: 85px;
}

.join_class_form_item.cellphone input {
  width: calc(100% - 85px);
}

.join_class_form_item.phone label, .join_class_form_item.le label {
  width: 140px;
  text-align: right;
  padding-right: 10px;
}

.join_class_form_item.phone input, .join_class_form_item.le input {
  width: calc(100% - 140px);
}

.join_class_form_item.way label, .join_class_form_item.number label, .join_class_form_item.session label {
  width: 85px;
}

.join_class_form_item.way .join_class_form_select, .join_class_form_item.number .join_class_form_select, .join_class_form_item.session .join_class_form_select {
  width: calc(100% - 85px);
}

.join_class_form_item.le .remark {
  color: #102B50;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  top: calc(100% + 3px);
  right: 0;
  position: absolute;
}

.join_class_form_item.number .remark {
  color: #102B50;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  top: calc(100% + 3px);
  left: 6px;
  position: absolute;
}

.join_class_form_item.time label {
  width: 140px;
  text-align: right;
  padding-right: 10px;
}

.join_class_form_item.time .join_class_form_select {
  width: calc(100% - 140px);
}

.join_class_form_item.session .remark {
  color: #E60012;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  width: calc(100% - 85px);
  right: 0;
  top: calc(100% + 3px);
}

.join_class_form_item.other {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.join_class_form_item.other label {
  width: 85px;
  margin-top: 5px;
}

.join_class_form_item.other textarea {
  width: calc(100% - 85px);
}

.join_class_form_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.join_class_form_check_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.join_class_form_check_item.active .join_class_form_check_input::before {
  opacity: 1;
}

.join_class_form_check_input {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #102B50;
  margin-right: 5px;
  position: relative;
}

.join_class_form_check_input::before {
  width: 60%;
  height: 60%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #102B50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.join_class_form_check span {
  color: #102B50;
  font-size: 18px;
  font-weight: 600;
}

.join_class_form_select {
  position: relative;
}

.join_class_form_select_active {
  width: 100%;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #0F2C51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.join_class_form_select_active span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: calc(100% - 19px);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #727171;
}

.join_class_form_select_active img {
  width: 19px;
}

.join_class_form_select_list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  display: none;
  z-index: 4;
}

.join_class_form_select_list li {
  cursor: pointer;
  padding: 3px;
  background-color: #DCDDDD;
  font-size: 12px;
  font-weight: 600;
  color: #231815;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.join_class_form_select_list li:hover {
  background-color: #122C52;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .join_class .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .join_class_qa .row > div {
    margin-bottom: 30px;
  }
  .join_class_form_content {
    padding: 42px 50px;
  }
}

@media screen and (max-width: 767px) {
  .join_class {
    margin-bottom: 60px;
  }
  .join_class_form_left, .join_class_form_right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .join_class_form_item.phone label {
    width: 85px;
    padding: 0;
    text-align: left;
  }
  .join_class_form_item.phone input {
    width: calc(100% - 85px);
  }
  .join_class_form_item.time label {
    text-align: left;
  }
}

@media screen and (max-width: 575px) {
  .join_class_form_content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .join_class_form_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .join_class_form_item label {
    width: 100% !important;
    text-align: left !important;
    margin-bottom: 5px;
    padding: 0 !important;
  }
  .join_class_form_item input, .join_class_form_item textarea {
    width: 100% !important;
  }
  .join_class_form_item.age .join_class_form_check_item {
    margin-right: 15px;
    margin-bottom: 5px;
  }
  .join_class_form_item.number .remark {
    top: 3px;
    left: inherit;
    right: 0;
  }
  .join_class_form_item.session .remark {
    width: 100%;
  }
  .join_class_form_check {
    width: 100% !important;
  }
  .join_class_form_select {
    width: 100% !important;
  }
}

@media screen and (max-width: 430px) {
  .join_class_form_content button {
    width: 100%;
    font-size: 24px;
    height: 50px;
  }
}

.join_example {
  margin-bottom: 189px;
}

.join_example_title img {
  max-width: 177px;
}

.join_example_brand {
  max-width: 720px;
  width: 100%;
  margin: 0 auto 39px;
}

.join_example_brand_pic img {
  width: 100%;
}

.join_example_intro {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.join_example_intro_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}

.join_example_intro_pic {
  width: 100px;
  margin-right: 15px;
}

.join_example_intro_pic img {
  width: 100%;
}

.join_example_intro_text {
  width: calc(100% - 100px - 15px);
  background-color: #fff;
  padding: 28px 15px;
  border-radius: 8px;
  border: 1px solid #0F2C51;
  -webkit-box-shadow: 17px 17px 0 #0F2C51;
          box-shadow: 17px 17px 0 #0F2C51;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #0F2C51;
}

@media screen and (max-width: 767px) {
  .join_example {
    margin-bottom: 100px;
  }
  .join_example_intro_pic {
    width: 80px;
  }
  .join_example_intro_text {
    width: calc(100% - 80px);
    padding: 22px 15px;
    font-size: 20px;
    -webkit-box-shadow: 12px 12px 0 #0f2c51;
            box-shadow: 12px 12px 0 #0f2c51;
  }
}

@media screen and (max-width: 500px) {
  .join_example_intro_pic {
    width: 60px;
  }
  .join_example_intro_text {
    width: calc(100% - 60px);
    padding: 20px 15px;
    font-size: 18px;
    -webkit-box-shadow: 10px 10px 0 #0f2c51;
            box-shadow: 10px 10px 0 #0f2c51;
  }
}

.join_advantage {
  margin-bottom: 212px;
}

.join_advantage_title img {
  max-width: 231px;
}

.join_advantage_content {
  position: relative;
}

.join_advantage_content .swiper-button-next, .join_advantage_content .swiper-button-prev {
  opacity: 1;
  display: none;
}

.join_advantage_content .swiper-button-next::after, .join_advantage_content .swiper-button-prev::after {
  display: none;
}

.join_advantage_item img {
  width: 100%;
}

.join_advantage_pic {
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 18px;
  margin-bottom: 45px;
}

.join_advantage_pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.join_advantage_text {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .join_advantage {
    margin-bottom: 100px;
  }
  .join_advantage_content .swiper-button-next, .join_advantage_content .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .join_advantage_content .swiper-button-next {
    right: 0;
  }
  .join_advantage_content .swiper-button-prev {
    left: 0;
  }
}

.join_service_title img {
  max-width: 168px;
}

.join_service_content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.join_service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}

.join_service_item:nth-child(even) .join_service_text {
  background-color: rgba(252, 235, 210, 0.5);
}

.join_service_item:nth-child(odd) .join_service_text {
  background-color: rgba(186, 203, 215, 0.5);
}

.join_service_pic {
  width: 120px;
  margin-right: 32px;
}

.join_service_pic img {
  width: 100%;
}

.join_service_text {
  width: calc(100% - 120px - 32px);
  border-radius: 8px;
  padding: 12px;
}

.join_service_text ol {
  margin: 0;
}

.join_service_text ol li {
  font-size: 18px;
}

.join_service_text ol li:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 575px) {
  .join_service_pic {
    width: 100px;
    margin-right: 15px;
  }
  .join_service_text {
    width: calc(100% - 100px - 15px);
  }
  .join_service_text ol li {
    font-size: 16px;
  }
  .join_service_item {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 450px) {
  .join_service_pic {
    width: 70px;
    margin-right: 15px;
  }
  .join_service_text {
    width: calc(100% - 70px - 15px);
  }
}

.join_good {
  margin-bottom: 126px;
}

.join_good_title img {
  max-width: 511px;
}

.join_good_pic {
  width: 100%;
}

.join_want {
  padding: 125px 20px;
  background-image: url(../img/cloud-bg-1.svg), url(../img/cloud-bg-2.svg);
  background-size: 36vw, 36vw;
  background-repeat: no-repeat;
  background-position: -10vw 104%, 76vw 104%;
}

.join_want img {
  display: block;
  max-width: 825px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .join_want {
    padding: 60px 20px;
  }
}
/*# sourceMappingURL=style.css.map */